#playArea {
  width: 800px;
  height: 400px;
  position: relative;
  border-color: yellow;
  border-width: 2px;
  border-style: solid;
}

#car {
  width: 35px;
  height: 25px;
  position: absolute;
  background-image: url('./images/omcar.png');
  background-size: cover;
}
